$btn-bg-color: #9a9a9a;
$btn-bg-gradient: linear-gradient(0deg, #9a9a9a 0%, #e8fdff 100%);
$border-radius: 50%;
$shadow: 0 20px 40px 0 rgba(107, 154, 212, .1);
$text-color: #637892;
$heading-img: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
$background-main: #21D4FD;